@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #333333;
}
::-webkit-scrollbar-thumb {
  background: #1f2229;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d1f25;
}

.card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.5;
}